<html>
    <head>
        <style>

            form {
                margin-bottom: 0;
            }

            label {
                display: inline-block;
                width: 65px;
            }

            form,
            input[type=submit] {
                display: inline;
            }

            button {
                display: block;
                border: none;
                background: transparent;
            }

        </style>
    </head>
    <body>
        <img src="keepskorLogo.png"/>
        <h1>Welcome!</h1>
        <h2 id="user">Please login...</h2>
