<html>
    <body>
        <h1>Welcome!</h1>
        <h2 id="user">User</h2>
        <form action="/login" method="post">
            <div>
                <label>Email:</label>
                <input id="email" name="email" type="email"/><br/>
            </div>
            <div>
                <label>Number:</label>
                <input id="number" name="number" type="tel"/><br/>
            </div>
            <div>
                <label>Username:</label>
                <input id="username" name="username" type="text"/><br/>
            </div>
            <div>
                <label>Password:</label>
                <input id="password" name="password" type="password"/>
            </div>
            <div>
                <a id="register" href="#">Register</a>
                <a id="forgot" href="#">Forgot password?</a>
                <input type="submit" value="Log In"/>
            </div>
        </form>
    </body>
</html>
