<html>
    <head>
        <style>

            form {
                margin-bottom: 0;
            }

            label {
                display: inline-block;
                width: 65px;
            }

            form,
            input[type=submit] {
                display: inline;
            }

        </style>
    </head>
    <body>
        <img src="keepskorLogo.png"/>
        <h1>Welcome!</h1>
        <h2 id="user">Please login...</h2>
        <form id="login" action="/login" method="post">
            <div>
                <label>Email:</label>
                <input id="email" name="email" type="email"/>
            </div>
            <div style="display: none">
                <label>Number:</label>
                <input id="number" name="number" type="tel"/>
            </div>
            <div>
                <label>Username:</label>
                <input id="username" name="username" type="text"/>
            </div>
            <div>
                <label>Password:</label>
                <input id="password" name="password" type="password"/>
            </div>
            <input type="submit" value="Log In"/>
        </form>
        <form id="register" action="/register" method="post">
            <input type="hidden" name="email"/>
            <input type="hidden" name="number"/>
            <input type="hidden" name="username"/>
            <input type="hidden" name="password"/>
            <input type="submit" value="Register"/>
        </form>
        <form id="forgot" action="#" method="post">
            <input type="submit" value="Forgot password?"/>
        </form>
        <script>

            function update() {

                var login = document.forms['login'];
                var register = document.forms['register'];
                var forgot = document.forms['forgot'];

                register.email.value = login.email.value;
                register.number.value = login.number.value;
                register.username.value = login.username.value;
                register.password.value = login.password.value;

                forgot.action = "/users/" + login.username.value + "/forgot";
            }

            function attachUpdate() {

                var login = document.forms['login'];

                login.email.onkeyup = update;
                login.number.onkeyup = update;
                login.username.onkeyup = update;
                login.password.onkeyup = update;
            }

            document.addEventListener("DOMContentLoaded", attachUpdate);
            document.addEventListener("DOMContentLoaded", update);

        </script>
    </body>
</html>
